NET "REFCLKIN" TNM_NET = "REFCLKIN_GRP";
TIMESPEC "TS_REFCLKIN" = PERIOD "REFCLKIN_GRP" 50.1 MHz HIGH 50 %;

NET "REFCLKIN" LOC = "T9" | IOSTANDARD = LVTTL; 

NET "LEDLINK" LOC="P16" | IOSTANDARD=LVTTL; 
NET "LEDEVENT" LOC="R16" | IOSTANDARD=LVTTL; 

NET "DOUT<0>" LOC="J1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<1>" LOC="J2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<2>" LOC="K1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<3>" LOC="K2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<4>" LOC="L2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<5>" LOC="M1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<6>" LOC="M2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<7>" LOC="N1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<8>" LOC="P1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<9>" LOC="R1" | IOSTANDARD = LVCMOS25; 
NET "DOUT<10>" LOC="K3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<11>" LOC="L3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<12>" LOC="M3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<13>" LOC="N3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<14>" LOC="N2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<15>" LOC="P2" | IOSTANDARD = LVCMOS25; 
NET "DOUT<16>" LOC="R3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<17>" LOC="T3" | IOSTANDARD = LVCMOS25; 
NET "DOUT<18>" LOC="R4" | IOSTANDARD = LVCMOS25; 
NET "DOUT<19>" LOC="T4" | IOSTANDARD = LVCMOS25; 
NET "DOUT<20>" LOC="R5" | IOSTANDARD = LVCMOS25; 
NET "DOUT<21>" LOC="T5" | IOSTANDARD = LVCMOS25; 
NET "DOUT<22>" LOC="R6" | IOSTANDARD = LVCMOS25; 
NET "DOUT<23>" LOC="R7" | IOSTANDARD = LVCMOS25; 
NET "DOUT<24>" LOC="T7" | IOSTANDARD = LVCMOS25; 
NET "DOUT<25>" LOC="N5" | IOSTANDARD = LVCMOS25; 
NET "DOUT<26>" LOC="P5" | IOSTANDARD = LVCMOS25; 
NET "DOUT<27>" LOC="N6" | IOSTANDARD = LVCMOS25; 
NET "DOUT<28>" LOC="P6" | IOSTANDARD = LVCMOS25; 
NET "DOUT<29>" LOC="P7" | IOSTANDARD = LVCMOS25; 
NET "DOUT<30>" LOC="N7" | IOSTANDARD = LVCMOS25; 
NET "DOUT<31>" LOC="P8" | IOSTANDARD = LVCMOS25; 

