
NET "RXCLKIN" TNM_NET = "RXCLKIN_GRP";
TIMESPEC "TS_RXCLKIN" = PERIOD "RXCLKIN_GRP" 50.1 MHz HIGH 50 %;

INST "devicelinkinst" AREA_GROUP="dl_group";

NET "REFCLKIN" LOC = "T9" | IOSTANDARD = LVTTL; 
NET "REFCLKOUT" LOC = "E10" | IOSTANDARD = LVTTL; 

NET "RXCLKIN" LOC = "D12" | IOSTANDARD = LVTTL; 

NET "RXLOCKED" LOC="D10" | IOSTANDARD = LVTTL; 

NET "TXIO_P"  LOC = "A8" | IOSTANDARD = LVDSEXT_25;
NET "TXIO_N"  LOC = "B8" | IOSTANDARD = LVDSEXT_25 ;


#NET "LEDLINK" LOC="P16" | IOSTANDARD=LVTTL; 
#NET "LEDEVENT" LOC="R16" | IOSTANDARD=LVTTL; 

NET "RXDIN<0>" LOC = "C10" | IOSTANDARD = LVTTL; 
NET "RXDIN<1>" LOC = "C11" | IOSTANDARD = LVTTL; 
NET "RXDIN<2>" LOC = "C12" | IOSTANDARD = LVTTL; 
NET "RXDIN<3>" LOC = "B11" | IOSTANDARD = LVTTL; 
NET "RXDIN<4>" LOC = "A12" | IOSTANDARD = LVTTL; 
NET "RXDIN<5>" LOC = "B12" | IOSTANDARD = LVTTL; 
NET "RXDIN<6>" LOC = "A13" | IOSTANDARD = LVTTL; 
NET "RXDIN<7>" LOC = "B13" | IOSTANDARD = LVTTL; 
NET "RXDIN<8>" LOC = "A14" | IOSTANDARD = LVTTL; 
NET "RXDIN<9>" LOC = "B14" | IOSTANDARD = LVTTL; 

NET "DOUT<0>" LOC = "j1" | IOSTANDARD = LVTTL; 
NET "DOUT<1>" LOC = "j2" | IOSTANDARD = LVTTL; 
NET "DOUT<2>" LOC = "k1" | IOSTANDARD = LVTTL; 
NET "DOUT<3>" LOC = "k2" | IOSTANDARD = LVTTL; 
NET "DOUT<4>" LOC = "l2" | IOSTANDARD = LVTTL; 
NET "DOUT<5>" LOC = "m1" | IOSTANDARD = LVTTL; 
NET "DOUT<6>" LOC = "m2" | IOSTANDARD = LVTTL; 
NET "DOUT<7>" LOC = "n1" | IOSTANDARD = LVTTL; 
NET "DOUT<8>" LOC = "p1" | IOSTANDARD = LVTTL; 
NET "DOUT<9>" LOC = "r1" | IOSTANDARD = LVTTL; 
NET "DOUT<10>" LOC = "k3" | IOSTANDARD = LVTTL; 
NET "DOUT<11>" LOC = "l3" | IOSTANDARD = LVTTL; 
NET "DOUT<12>" LOC = "m3" | IOSTANDARD = LVTTL; 
NET "DOUT<13>" LOC = "n3" | IOSTANDARD = LVTTL; 
NET "DOUT<14>" LOC = "n2" | IOSTANDARD = LVTTL; 
NET "DOUT<15>" LOC = "p2" | IOSTANDARD = LVTTL; 
NET "DOUT<16>" LOC = "r3" | IOSTANDARD = LVTTL; 
NET "DOUT<17>" LOC = "t3" | IOSTANDARD = LVTTL; 
NET "DOUT<18>" LOC = "r4" | IOSTANDARD = LVTTL; 
NET "DOUT<19>" LOC = "t4" | IOSTANDARD = LVTTL; 
NET "DOUT<20>" LOC = "r5" | IOSTANDARD = LVTTL; 
NET "DOUT<21>" LOC = "t5" | IOSTANDARD = LVTTL; 
NET "DOUT<22>" LOC = "r6" | IOSTANDARD = LVTTL; 
NET "DOUT<23>" LOC = "r7" | IOSTANDARD = LVTTL; 
NET "DOUT<24>" LOC = "t7" | IOSTANDARD = LVTTL; 
NET "DOUT<25>" LOC = "n5" | IOSTANDARD = LVTTL; 
NET "DOUT<26>" LOC = "p5" | IOSTANDARD = LVTTL; 
NET "DOUT<27>" LOC = "n6" | IOSTANDARD = LVTTL; 
NET "DOUT<28>" LOC = "p6" | IOSTANDARD = LVTTL; 
NET "DOUT<29>" LOC = "p7" | IOSTANDARD = LVTTL; 
NET "DOUT<30>" LOC = "n7" | IOSTANDARD = LVTTL; 
NET "DOUT<31>" LOC = "p8" | IOSTANDARD = LVTTL; 
