
NET "RXCLKIN" TNM_NET = "RXCLKIN_GRP";
TIMESPEC "TS_RXCLKIN" = PERIOD "RXCLKIN_GRP" 50.1 MHz HIGH 50 %;

INST "devicelinkinst" AREA_GROUP="dl_group";

NET "REFCLKIN" LOC = "T9" | IOSTANDARD = LVTTL; 
NET "REFCLKOUT" LOC = "E10" | IOSTANDARD = LVTTL; 

NET "RXCLKIN" LOC = "D12" | IOSTANDARD = LVTTL; 

NET "RXLOCKED" LOC="D10" | IOSTANDARD = LVTTL; 

NET "TXIO_P"  LOC = "A8" | IOSTANDARD = LVDSEXT_25;
NET "TXIO_N"  LOC = "B8" | IOSTANDARD = LVDSEXT_25 ;


NET "LEDLINK" LOC="P16" | IOSTANDARD=LVTTL; 
NET "LEDEVENT" LOC="R16" | IOSTANDARD=LVTTL; 

NET "RXDIN<0>" LOC = "C10" | IOSTANDARD = LVTTL; 
NET "RXDIN<1>" LOC = "C11" | IOSTANDARD = LVTTL; 
NET "RXDIN<2>" LOC = "C12" | IOSTANDARD = LVTTL; 
NET "RXDIN<3>" LOC = "B11" | IOSTANDARD = LVTTL; 
NET "RXDIN<4>" LOC = "A12" | IOSTANDARD = LVTTL; 
NET "RXDIN<5>" LOC = "B12" | IOSTANDARD = LVTTL; 
NET "RXDIN<6>" LOC = "A13" | IOSTANDARD = LVTTL; 
NET "RXDIN<7>" LOC = "B13" | IOSTANDARD = LVTTL; 
NET "RXDIN<8>" LOC = "A14" | IOSTANDARD = LVTTL; 
NET "RXDIN<9>" LOC = "B14" | IOSTANDARD = LVTTL; 

